/* Global Styles */
*, *::before, *::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: "Inter", serif;
}

p {
  font-size: 15px;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

.logo {
  height: 1.75em;
}

.btn {
  text-transform: uppercase;
  text-decoration: none;
  background-color: hsl(5, 85%, 63%);
  padding: 1em 3em;
  color: #fff;
}

.btn:hover,
.btn:focus {
  background-color: hsl(35, 77%, 62%);
}

/* Header/Nav */
nav {
  display: none;
}

nav > ul {
  list-style-type: none;
  color: hsl(236, 13%, 42%);
  font-weight: 700;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  padding-bottom: 2em;
}

.icon-menu {
  height: 1em;
  align-self: center;
}

/* Main Stories */

.main-stories {
  margin-bottom: 3em;
}

/* Featured Story */

#featured-story {
  margin-bottom: 4em;
}

.featured-story__desktop--img {
  display: none;
}

.featured-story__info--header {
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
  padding-top: .5em;
}

.featured-story__info--paragraph {
  margin-bottom: 2em;
}

/* New story feed */

#new-story-feed {
  background-color: hsl(240, 100%, 5%);
  color: white;
  padding: 1em 0;
  margin-bottom: 2em;
}

#new-story-feed hr {
  border: none;
  border-top: 1px solid hsl(236, 13%, 42%);
  margin: 2em 0;
}

#new-story-feed h2 {
  font-size: 1.25rem;
}

#new-story-feed p {
  color: hsl(233, 8%, 79%);
}

.new-story-feed__header {
  color: hsl(35, 77%, 62%);
  font-size: 2rem;
  margin: 0;
}

/* Story Cards */

.card {
  display: flex;
  gap: 1em;
  margin-bottom: 2em;
}

.card img {
  max-width: 30%;
}

.card-text {
  margin: 0;
}

.card h2 {
  color: hsl(233, 8%, 79%);
  font-size: 2em;
  margin: 0;
}

/* Footer Styles */
.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media (min-width: 600px) {
  /* Nav */
  nav {
    display: block;
  }
  
  .nav {
    display: flex;
    gap: 2em;
  }

  .icon-menu {
    display: none;
  }
}
